.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 11;
    padding: 10px 0;
    font-family: $montserrat-font-family;
    // background-color: rgba(255,255,255,0.98);
	background-color: $white;
    @include animate(all);

    .content {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
		&.center {
			justify-content: center;
		}
    }

    .nav a {
        color: $blue;
        &.search i {
            color: $orange;
        }
    }

    .muw-logo {
        @include animate(all);
        width: 80px;
		svg {
			width: 100%;
			max-height: 51px;
		}
    }

    .search-toggle {
        padding: 0 15px;
    }

    .header-search {
        width: 0px;
        margin-bottom: 0;
        overflow: hidden;
        @include animate(width);

        &.active {
            width: 260px;
        }

        #searchsubmit {
            display: none;
        }

        input[type="text"] {
            margin: 0;
            padding: 5px;
            background-color: transparent;
            border-bottom: 1px solid $orange;
            border-radius: 0;
            font-size: 14px;
            // height: 22px;
            &:focus {
                border-top: none;
                border-bottom: 1px solid $orange;
                border-right: none;
                border-left: none;
                box-shadow: none;
            }
        }
    }

    &.no-bg {
        background-color: $clear;
        @include animate(all);
    }

	.notification-toggle,
	.notification-toggle-mobile {
		.bell {
			fill: $blue;
		}
		.bell-circle{
			fill: $orange;
		}
	}

	&.reveal {
		.notification-toggle,
		.notification-toggle-mobile {
			.bell {
				fill: $blue;
			}
			.bell-circle{
				fill: $orange;
			}
		}
	}

    &.light {
        background-color: $clear;
        .muw-logo {
            width: 133px;
            .svg-outline, .svg-person, .svg-sun, .svg-hand, .svg-name, .svg-uw, .svg-tm {
                fill: $white;
            }
            .svg-bg, .svg-square, .svg-circle, .svg-blue {
                fill: none;
            }
			svg {
				width: 100%;
				max-height: 84px;
			}
        }

        .nav a, .nav-center a, a.search i {
            color: $white;
            &:hover {
                color: $orange;
            }
        }

		.notification-toggle,
		.notification-toggle-mobile {
			.bell {
				fill: $white;
			}
			.bell-circle{
				fill: $orange;
			}
		}

		.nav .sub-menu {
			background-color: $clear;
		}

        #menuToggle span {
            background-color: $white;
            @include animate(all);
        }

        #menuToggle input[type="checkbox"]:hover ~ span {
            background-color: $orange;
        }

        &.no-bg {
            #menuToggle span {
                background-color: $blue;
            }
        }

        &.reveal {
            // background-color: hsla(0, 0%, 0%, 0.15);
            .muw-logo {
                width: 80px;
				svg {
					width: 100%;
					max-height: 51px;
				}
            }
        }

        .header-search input[type="text"] {
            padding-left: 10px;
            background-color: $white;
            border-bottom: 0;
            border-radius: 5px;
        }

    }

}
