@mixin form-font-style1 {
    font-size: 26px;
    font-weight: 600;
    font-family: $heading-font-family;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.1;        
}

.layout.form-hero {
    padding-top: 0;
    background-size: cover;
    @media screen and (max-width: 1130px) {
        background-position: center;
    }
    &:first-child {
        padding-top: 90px;
        .wrapper {
            min-height: calc(100vh - 90px);
        }        
    }
    &.style-1 {
        position: relative;
        &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0,0.6);
        }
        .wrapper {
            position: relative;
        }
        .gfield.frequency {
            .gfield_radio {
                [type=radio] {
                    &:checked,
                    &:focus,
                    &:hover {
                        ~label {
                            background-color: $orange;
                            color: $white;
                        }
                    }
                    &:checked~label {
                        &:after {
                            border-top: 10px solid $orange;
                        }
                    }
                }
                label {
                    &:before {
                        display: none;
                    }
                }
            }
        }
        .gfield.choose-amount {
            .gfield_radio {
                [type=radio]:hover~label,
                [type=radio]:focus~label,
                [type=radio]:checked~label {
                    background-color: $orange;
                }
                label {
                    &:before {
                        display: none;
                    }
                }                
            }
        }
        .gfield.payment {
            label {
                &:before {
                    display: none;
                }
            }             
        }
    }
    &.style-2 {
        .content {
            padding: 30px 30px 10px;
            background-color: $blue;
        }
    }
    &.right .wrapper {
        flex-direction: row-reverse;
    }
    &.left .wrapper {
        flex-direction: row;
    }
    &.left .wrapper,
    &.right .wrapper {
        .form-wrapper,
        .content-wrapper {
            flex: 1 0 50%;
            max-width: 50%;
            @media screen and (max-width: 1130px) {
                max-width: 100%;
            }
        }
    }
    &.center .wrapper {
        display: block;
        .content-wrapper {
            max-width: 500px;
            margin: 0 auto;
        }
    }
    .wrapper {
        min-height: 100vh;
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        @media screen and (max-width: 1130px) {
            display: block;
        }
    }
    .content-wrapper {
        @media screen and (max-width: 1130px) {
            margin: 0 auto !important;
        }
    }
    form {
        margin-bottom: 0;
        @media screen and (max-width: 1130px) {
            margin-bottom: 60px;
        }
    }
    .content {
        max-width: 600px;
        color: $white;
        @media screen and (max-width: 1130px) {
            max-width: 500px;
            margin: 0 auto;
        }
        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6 {
            color: $white;
        }
    }
}

// Firefox - Positioning for fancy labels
.gf_browser_gecko.gform_wrapper.newdonate_wrapper {
    select {
        padding: 26px 8px 5px;
        font-size: 14px;
        color: #A1A19F;
        border-radius: 0;
        border: 1px solid #CFCFCF;
        &:focus {
            outline: none;
            border: 1px solid $blue;
        }
    }
    .gfield.ginput_container_creditcard,
        .gfield.gfield_creditcard_warning,
        .gfield.payment-credit-card {
            .ginput_full {
                label {
                    top: 40px !important;
                }
                &.active label {
                    top: 30px !important;
                }
            }
            .ginput_cardextras {
                label {
                    top: 11px !important;
                }
                &.active label {
                    top: 3px !important;
                }
            }
        }
        .ginput_container_address {
            .ginput_full.address_line_1 label {
                top: 40px !important;
            }
            &.active .ginput_full.address_line_1 label {
                top: 30px !important;
            }
        }
}

.gform_wrapper.newdonate_wrapper {
    width: 100%;
    max-width: 500px;
    margin: 0 auto; // Delete later
    font-size: 26px;

    // General Styles
    .gform_page {
        position: relative;
        background-color: $white;
        overflow: hidden;
        // Ajax spinner overlay
        &.overlay:before {
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: $white;
            z-index: 2;
            opacity: 0.5;
        }
    }

    // Loading spinner
    .gform_ajax_spinner {
        position: absolute;
        width: 45px;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        z-index: 3;
    }

    h1, h2, h3, h4, h5, h6,
    label,
    span.ginput_product_price {
        color: $blue;
    }

    .gfield {
        position: relative;
        margin-top: 0;
        margin-bottom: 20px;
        padding: 0;
        &.gf_invisible, 
        &.gfield_visibility_hidden {
            visibility: hidden;
            position: absolute;
            left: -9999px;
        }
    }

    .gform_page_fields {
        max-width: 400px;
        margin: 0 auto;
    }

    // Styling selects for Safari & Firefox
    select {
        @include selectStyle(54px, $white);
    }

    select,
    &.gf_browser_chrome select {
        padding: 26px 12px 5px;
        font-size: 14px;
        color: #3b3b3b;
        border-radius: 0;
        border: 1px solid #CFCFCF;
        &:focus {
            outline: none;
            border: 1px solid $blue;
        }
    }
    //.gfield:not(.payment, .amount, .frequency) {
    .gfield:not(.payment):not(.choose-amount):not(.frequency) {
        .gfield_checkbox,
        .gfield_radio {
            li {
               label {
                   display: block;
                   width: 100%;
                   max-width: 100%;
                   margin: 0;
                   padding-left: 30px;
                   font-size: 24px;
                   color: $purple;
                   opacity: 0.6;
                   @include animate(all);
               }
               label:before {
                   content: '';
                   position: absolute;
                   top: 8px;
                   left: 2px;
                   width: 20px;
                   height: 20px;
                   border-radius: 50%;
                   border: 2px solid #fff;
                   box-shadow: 0 0 0 2px $purple;
                   opacity: 0.6;
                   @include animate(all);
               }
               input[type="checkbox"]:checked,
               input[type="radio"]:checked {
                   ~ label {
                       color: $blue;
                       opacity: 1;
                   }
                   ~ label:before {
                       background-color: $blue;
                       box-shadow: 0 0 0 2px $blue;
                       opacity: 1;
                   }
               }

               input[type="checkbox"]:hover,
               input[type="radio"]:hover {
                   ~ label {
                       color: $blue;
                       opacity: 1;
                   }
                   ~ label:before {
                       // background-color: $blue;
                       box-shadow: 0 0 0 2px $blue;
                       opacity: 1;
                   }
               }

           }
        }
    }

    .gfield_label:not(.no-fancy-label),
    .ginput_complex label:not(.no-fancy-label),
    .field_sublabel_above .ginput_complex.ginput_container label:not(.no-fancy-label),
    .field_sublabel_below .ginput_complex.ginput_container label:not(.no-fancy-label),
    span[class*="andar"] label:not(.no-fancy-label) {
        color: #A1A19F;
        text-transform: capitalize;
        font-size: 14px;
        letter-spacing: 0;
        font-family: $base-font-family;
        font-weight: 600;

        position: absolute;
        z-index: 1;
        transition: all 200ms ease-out;
    }
    
    .gfield.field_sublabel_above {
        label:not(.no-fancy-label) { // might need to be .gfield_label
            top: 18px; // 13
            left: 15px;
            transform: scale(1);
        }
        &.active label:not(.no-fancy-label) {
            top: 9px;
            transform: scale(0.8);
            transform-origin: top left;
        }
    }

    .ginput_complex,
    .gfield.field_sublabel_above .ginput_complex {
        label:not(.no-fancy-label) {
            top: 11px;
            left: 15px;
            transform: scale(1);
        }
        &.active label:not(.no-fancy-label),
        span.active label:not(.no-fancy-label) { // Andar complex input fields
            top: 3px;
            transform: scale(0.8);
            transform-origin: top left;
        }
    }

    input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
        margin-top: 0; 
        margin-bottom: 20px;
        padding: 27px 15px 6px; // 24px 15px 9px
        font-size: 14px;
        font-family: $base-font-family;
        font-weight: 600;
        color: #3b3b3b;
        background: $white;
        border-radius: 0;
        border: 1px solid #CFCFCF;
        &:focus {
            box-shadow: none;
            border-color: $blue;
        }
        @media only screen and (max-width: 641px) {
            line-height: 1;
            min-height: auto;
        }
    }

    .gform_page_footer {
        margin: 0;
        padding: 0 0 30px;
        border: none;
        text-align: center;
        .button,
        input[type=button] {
            width: auto;
            margin: 0;
        }
        input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]) {
            min-height: none;
            line-height: 1.1;
        }
    }

    .gfield_checkbox li label, 
    .gfield_radio li label {
        padding: 0;
        &:before {
            content: none;
        }        
    }
    li ul.gfield_checkbox, 
    li ul.gfield_radio {
        width: 100%;
    }
    [type="button"] {
        padding: 12px 50px 11px;
        border-radius: 0;
        color: #fff;
        @include form-font-style1();
    }

    .total-amount,
    .choose-amount {
        .gfield_label,
        .ginput_container {
            max-width: none;
        }
    }

    // Total Donation Edit Button
    .gfield.total-amount input.gform_edit_button {
        position: relative;
        padding: 0 7px;        
        background-color: transparent;
        text-decoration: underline;
        text-transform: none;
        font-size: 13px;
        font-family: $base-font-family;
    }

    // Total Donation Amount
    .gfield.total-amount {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 500px;
        left: -50px;
        max-width: none;
        margin-bottom: 60px;
        padding: 25px 15px;
        background-color: $blue;
        @media screen and (max-width: 530px) {
            flex-wrap: wrap;
        }
        @media screen and (max-width: 450px) {
            width: 100%;
            left: 0;
        }
        .gfield_label {
            @media screen and (max-width: 530px) {
                flex: 1 0 100%;
            }
        }
        .gfield_label,
        .ginput_container {
            display: inline-block;
            width: auto;
            margin: 0;
        }
        .ginput_container {
            display: flex;
        }
        .gfield_label,
        .ginput_container,
        .ginput_total {
            @include form-font-style1();
            color: $white;
        }
        &.active .gfield_label:not(.no-fancy-label),
        .gfield_label:not(.no-fancy-label) {
            position: relative;
            top: 0 !important;
            left: 0 !important;
            transform: scale(1) !important;
        }
        .ginput_container {
            padding-left: 10px;
        }
        span.ginput_total {
            margin-bottom: 0;
        }
        input {
            position: absolute;
        }
    }

    // Custom Donation Amount
    .gfield.custom-amount {
        &.field_sublabel_above label {
            top: 22px;
        }
        input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
            color: $blue;
            font-weight: 700;
            font-size: 20px;
        }
    }

    // Choose Donation Amount
    .gfield.choose-amount {
        max-width: none;
        margin-bottom: 10px;
        .gfield_label {
            position: relative;
            width: 500px;
            margin-bottom: 30px;
            padding: 25px 15px;
            top: 0;
            left: -50px;
            background: $blue;
            color: white;
            @include form-font-style1();
            @media screen and (max-width: 450px) {
                width: 100%;
                left: 0;
            }
        }
        .gfield_radio {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 400px;
            margin: 0 auto;
            text-align: center;
            li {
                margin-bottom: 20px;
            }
            li label:before {
                content: none;
            }            
            [type=radio] {
                position: absolute;
                &~label {
                    width: 100%;
                    max-width: none;
                    height: 100%;
                    margin: 0;
                    padding: 15px 10px;
                    font-size: 20px;
                    font-family: $base-font-family;
                    text-transform: capitalize;
                    border: 1px solid #CFCFCF;
                    color: $blue;
                    opacity: 1;
                }
            }
            [type=radio]:hover~label,
            [type=radio]:focus~label,
            [type=radio]:checked~label {
                color: $white;
                background-color: $blue;
                border: 1px solid #CFCFCF;
            }
        }
    }

    // Always visible frequency buttons
    .gfield.frequency {
        max-width: none;
        margin-bottom: 15px;
        .ginput_container {
            max-width: none;
        }
        .gfield_radio {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 0;
            li {
                flex: 1 0 50%;
                max-width: 50%;
                margin: 0;
            }
            [type=radio] {
                position: absolute;
                &:checked,
                &:focus,
                &:hover {
                    ~label {
                        background-color: $blue;
                        color: $white;
                    }
                }
                &:checked~label {
                    &:after {
                        border-top: 10px solid $blue;
                    }
                }
            }
            label {
                width: 100%;
                max-width: none;
                height: 100%;
                margin: 0 0 20px;
                padding: 15px;
                background-color: $white;
                color: $blue;
                transition: all $base-duration $base-timing;
                @include form-font-style1();
                &:before {
                    content: none;
                }
                &:after {
                    content: '';
                    width: 20px;
                    height: 20px;
                    display: block;
                    border: 10px solid transparent;
                    border-top: 10px solid transparent;
                    position: absolute;
                    bottom: -20px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    transition: all $base-duration $base-timing;
                }
            }
        }

    }

    // Payment Type
    .gfield.payment {
        .gfield_radio {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 400px;
            margin: 0 auto;
            text-align: center;
            li {
                margin-bottom: 0;
            }
            li label:before {
                content: none;
            }
            [type=radio] {
                position: absolute;
                &~label {
                    width: 100%;
                    max-width: none;
                    height: 100%;
                    margin: 0;
                    padding: 14px 10px 11px;
                    font-size: 14px;
                    font-family: $base-font-family;
                    text-transform: capitalize;
                    border: 1px solid #CFCFCF;
                    color: $blue;
                    opacity: 1;
                    transition: color $base-duration $base-timing, background-color $base-duration $base-timing;
                    &:after {
                        content: '';
                        display: block;
                        background-repeat: no-repeat;
                        margin: 0 auto;
                        padding-left: 40px;
                        background-position: 50%;
                        transition: background-image $base-duration $base-timing;
                    }
                }
            }
            [type=radio]:hover~label,
            [type=radio]:focus~label,
            [type=radio]:checked~label {
                color: $white;
                background-color: $blue;
                border: 1px solid #CFCFCF;
            }
            // Cards
            input[value="Cards"]~label {
                padding-left: 44px;
                &:after {
                    background-image: url('../img/donate-card.svg');
                    background-size: 28px 28px;
                    width: 29px;
                    height: 20px;
                    padding: 0;
                    position: absolute;
                    top: 50%;
                    left: 25px;
                    transform: translateY(-50%);
                }
            }
            input[value="Cards"]~label:hover:after,
            input[value="Cards"]~label:focus:after,
            input[value="Cards"]:checked~label:after {
                background-image: url('../img/donate-card-white.svg');
            }
            // PayPal
            input[value="Paypal"]~label {
                font-size: 0;
                &:after {
                    background-image: url('../img/donate-paypal-dark.png');
                    padding-left: 0;
                    background-size: 68px 27px;
                    width: 68px;
                    height: 27px;
                }
            }
            input[value="Paypal"]~label:hover:after,
            input[value="Paypal"]~label:focus:after,
            input[value="Paypal"]:checked~label:after {
                background-image: url('../img/donate-paypal-light.png');
            }
            // Bill Me
            input[value="Bill Me"]~label {
                padding-left: 46px;
                &:after {
                    background-image: url('../img/donate-mail.svg');
                    background-size: 28px 28px;
                    width: 29px;
                    height: 20px;
                    padding: 0;
                    position: absolute;
                    top: 50%;
                    left: 22px;
                    transform: translateY(-50%);
                }
            }
            input[value="Bill Me"]~label:hover:after,
            input[value="Bill Me"]~label:focus:after,
            input[value="Bill Me"]:checked~label:after {
                background-image: url('../img/donate-mail-white.svg');
            }
        }
    }

    // Andar Personal Information
    .gfield.personal-information {
        margin-bottom: 0;
        .ginput_complex {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .andar_email_address,
        .andar_email_type,
        .andar_first_name,
        .andar_last_name,
        .andar_area_code,
        .andar_phone_number {
            position: relative;
        }
        .andar_email_address {
            width: 75%;
        }
        .andar_email_type {
            width: 25%;
            padding-left: 15px;
        }
        .andar_first_name,
        .andar_last_name {
            width: 50%;
        }
        .andar_first_name {
            padding-right: 15px;
        }
        .andar_area_code {
            width: 25%;
        }
        .andar_phone_number {
            width: calc(50% - 15px);
            margin-left: 15px;
        }
        .gfield_label,
        .andar_email_type label {
            display: none !important;
        }
        .andar_email_type {
            display: flex;
            flex-direction: column;
            input[type=radio] {
                display: block;
                width: 11px;
                height: 21px;
                margin: 0;
                position: relative;
                top: 6px;
                z-index: 1;
                &:hover {
                    cursor: pointer;
                }
            }
            .radio-label {
                display: block;
                height: auto;
                width: auto;
                margin-bottom: -21px;
                position: relative;
                top: -14px;
                opacity: 1;
                font-size: 12px;
            }
            input[type=radio] + .radio-label:before {
                content: '';
                display: inline-block;
                width: 11px;
                height: 11px;
                margin-right: 11px;
                border: 1px solid;
                transition: background-color $base-duration $base-timing;
            }
            [type=radio]:hover + .radio-label,
            [type=radio]:focus + .radio-label,
            [type=radio]:checked + .radio-label {
                color: $blue;
                &:before {
                    border: 1px solid $blue;
                    background-color: $blue;
                }
            }
            [type=radio]:focus + .radio-label {
                &:before {
                    box-shadow: 0 0 0 2px $orange;
                }
            }
        }
    }

    .ginput_container_andaraccount.no_area_code .andar_area_code,
    .ginput_container_andaraccount.no_phone_number .andar_phone_number,
    .ginput_container_andaraccount.no_phone_type .andar_phone_type {
        @media only screen and (max-width: 641px) {
            display: none;
        }
    }


    // Credit Card Payment
    .gfield.ginput_container_creditcard,
    .gfield.gfield_creditcard_warning,
    .gfield.payment-credit-card {
        margin-bottom: 0;
        .gform_card_icon_container,
        .ginput_complex .ginput_cardinfo_right span.ginput_card_security_code_icon {
            display: none;
        }
        .ginput_complex .ginput_cardinfo_left {
            float: left; // Mobile alignment
            width: calc(2 / 3 * 100%);
        }
        .ginput_complex .ginput_cardinfo_right {
            position: relative; // Mobile alignment
            float: left; // Mobile alignment
            width: calc(1 / 3 * 100%);
            padding-left: 10px;
        }
        .ginput_complex .ginput_cardinfo_left select.ginput_card_expiration.ginput_card_expiration_month {
            display: inline-block; // // Mobile alignment
            width: calc(49% - 7.5px) !important;
            margin-right: 5px;
            margin-left: 0;
        }
        .ginput_complex select.ginput_card_expiration.ginput_card_expiration_year {
            display: inline-block; // // Mobile alignment
            width: calc(49% - 7.5px) !important;
            margin-left: 4px;
            margin-right: auto;
        }
        .label-expiration-year {
            left: calc(49% + 22px)!important;
            
        }
        .ginput_complex .ginput_card_security_code {
            width: 100%;
            max-width: none !important;
        }
        // Card Name
        .ginput_full {
            position: relative;
        }
        // Hide the name field
        .ginput_container_creditcard .ginput_full:last-child {
            display: none;
        }
        // Centering the recaptcha
        .ginput_recaptcha div {
            margin: 0 auto;
        }
    }

    // Complex Address Field
    .ginput_complex.ginput_container_address {
        span {
            position: relative;
        }
        .ginput_full.address_line_2 {
            display: none;
        }
        span.address_city {
            display: inline-block;
            width: calc(60% - 15px);
            margin-right: 0;
            padding-right: 15px;
        }
        span.address_state {
            display: inline-block;
            width: calc(20% + 15px);
            margin-right: 0;
            padding-right: 15px;
            select {
                margin-left: 0;
            }
        }
        span.ginput_left.address_zip {
            display: inline-block;
            width: 20%;
            margin-right: 0 !important;
            padding-right: 0 !important;
        }
        
    }

    .gfield.andar-address {
        margin-bottom: 0;
    }
    .gfield.andar-area-code {
        display: inline-block;
        width: 25% !important;
        margin-right: 15px;
    }
    .gfield.andar-phone-number {
        display: inline-block;
        width: 47% !important;
    }

    // Aligning selects with other inputs
    &.gform_wrapper.gf_browser_chrome .ginput_complex .ginput_right select, 
    &.gform_wrapper.gf_browser_chrome .ginput_complex select {
        margin-top: 0;
    }

    // Previous Button
    .gform_previous_button {
        position: absolute;
        top: 101px;
        left: 35px;
        margin: 0 !important;
        padding: 0;
        background: none;
        color: $blue;
        text-transform: capitalize;
        font-size: 14px !important;
        letter-spacing: 0;
        font-family: $base-font-family;
        @media screen and (max-width: 530px) {
            top: 125px;
        }
    }    

    // Error message
    div.validation_message {
        color: $alert;
    }
    div.validation_error {
        font-size: 14px;
        line-height: 1.4;
        font-weight: 600;
        font-family: $base-font-family;
    }
    &.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
        max-width: 400px !important; 
    }
}
