html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
	margin: 0;
	&.animate {
		transition: opacity $base-duration $base-timing;
	} 
	&.ready {
		opacity: 1;
		&.hidden {
			opacity: 0;
		}		
	}
}
